if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi
use flake

dotenv
export REGISTRY_AUTH=$(echo "${REGISTRY_USERNAME}:${REGISTRY_PASSWORD}" | base64 -)
export KUBECONFIG="${HOME}/.kube/config"
export KUBE_CONFIG_PATH="${HOME}/.kube/config"
