.env
.direnv
.terraform*
*.tfstate*
*-kubeconfig.yaml

# jsonnet dependencies
vendor/

# charts vendored by `tk tool charts`
charts/

# rust compiler output
target/

# locally cached sealed secrets (re-generated on demand)
sealed-secrets.json
